.footer {
  font-family: verdana;
  text-align: center;
  padding-top: 15px;
  font-size: 17px;
  opacity: 0.5;
}

h1 {
  font-family: verdana;
  text-align: center;
  font-size: 60px;
}

.handle {
  display: block;
}

.black {
  color: #000000;
  font-weight: normal;
}

.gray {
  color: #808080;
}

.green {
  color: #008000;
}

.cyan-blue {
  color: #03A89E;
}

.blue {
  color: #0000FF;
}

.purple {
  color: #AA00AA;
}

.orange {
  color: #FF8C00;
}

.red {
  color: #FF0000;
}

.red-black {
  color: #FF0000;
}

.red-black::first-letter {
  color: #000000;
}
